body{
    background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
}

h1{
    color: rgb(70, 112, 68);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

a{
    color: rgb(214, 19, 19);
}

a:visited {
    color: rgb(32, 35, 196);
    
} 

a:hover {
    color: rgb(104, 15, 59);
}

a:active {
    color: rgb(62, 62, 85);
}

a:link, a:visited {
    text-align: center;
    text-decoration: none;
    padding: 14px 25px;
}

a:hover {font-size:150%;}
